@charset "utf-8";
/* CSS Document */
.wraper{
	max-width:1200px;
	margin:0px auto;
	}
.margengeneral{
	margin:10px;
	}

.space_peke{
	height:20px;
	}
.space_pekemas{
	height:10px;
	}
.titulos h1{
	font-family: 'din_alternatebold' !important;
	color:#fff;
	font-size:2.2em;
	}
/*******************GALERIA****************************/
.jssora13l, .jssora13r, .jssora13ldn, .jssora13rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../img/a13.png) no-repeat;
	overflow: hidden;
}

.jssora13l {
	background-position: -10px -35px;
}

.jssora13r {
	background-position: -70px -35px;
}

.jssora13l:hover {
	background-position: -130px -35px;
}

.jssora13r:hover {
	background-position: -190px -35px;
}

.jssora13ldn {
	background-position: -250px -35px;
}

.jssora13rdn {
	background-position: -310px -35px;
}
/*************************NOSOTROS*****************************/
.over {position: relative; overflow: hidden;

}
.over span.tooltips{display: none;

}
.over:hover span.tooltips {
height:100%;
width:100%;
background: rgba(0,0,0, .8);
color:#FFF;
left:0;
position:absolute;
top:0;
left:0;
display:block;
z-index:10;
padding:20px;

}

span.tooltips h1{
	color:#fff;

white-space:normal;
	}
span.tooltips h2{
	color:#fff;

white-space:normal;
	}
span.tooltips h3{
	color:#fff;

white-space:normal;
	}
span.tooltips p{
	color:#fff;

white-space:normal;
	}
/**************************************************************/

.form_style{
	border:4px solid #f4b232 !important;
	background-color:#222d47!important;
	-webkit-border-radius: 20px!important;
	-moz-border-radius: 20px!important;
	border-radius: 20px!important;
	padding:15px!important;
	color:#fff !important;
	font-family: 'din_alternatebold' !important;
	font-size:1.5em !important;
	width:82% !important;
	}
	
/****************************************************************/
    #headex {
        position:relative;
        z-index:120;
        margin-left:0px;
		margin-left:-37px;
		margin-top:-25px;
    }
    ul, ol {
    list-style:none;
    }
    .nav > li {
    float:left;
    }
    .nav li a {
    background-color:#d37804;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
	font-size:.8em;
    }
    .nav li a:hover {
    background-color:#d99342;
    }
    .nav li ul {
    display:none;
    position:absolute;
    min-width:180px;
    }
    .nav li:hover > ul {
    display:block;
    }
    .nav li ul li {
    position:relative;
    }
    .nav li ul li ul {
    right:-140px;
    top:0px;
    }

/**********************************************************************/
.calstyle{
	background-color:#fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:20px;
	}
/*********************************************************animacion del  menu**************************************************/
.nosolocss{
	margin:0 auto;
	width:70px;
	height:70px;

}
.rotateinfinite{

    animation-name: rotateinfinite;-webkit-animation-name: rotateinfinite;
    animation-timing-function: linear;-webkit-animation-timing-function: linear;
    animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;
    animation-duration: 3s;-webkit-animation-duration: 10s;
   

}
@keyframes rotateinfinite {
  from {
	transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.rotateinfinite:hover {
	animation-play-state: paused;
}

@-webkit-keyframes rotateinfinite {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

.rotateinfinite:hover {
  -webkit-animation-play-state: paused;
}

/*************************************ESTILO GALERIA.HTML***********************************/
.picsbor{
	border:1px solid #3c4f7a;
	padding:5px;
	}
	
img.overlay:hover
{
background-color:#000;
opacity:.5; /*FF/OPERA/Chrome*/
filter: alpha(opacity=75); /*IE 5-7*/
-ms-filter:"progid:DXImageTransform.Micr…" /*IE8*/
}


/****************************************************************************************/

.head_cal{
	border:3px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:20px;
	max-width:850px;
	margin:0px auto;
	}
	
.midlex{
	display: table-cell;
	vertical-align: middle;
	}
	
.styl_form{
	width:85% !important;
	padding:10px 15px !important;
	font-size:1em;
	background-color:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:none;
	font-family: 'din_alternatebold' !important;
	}
	
	
.titucal{
	font-family: 'din_alternatebold' !important;
	font-size:2.6em;
	line-height:30px;
	}

.reserv{
	padding:10px 20px 10px 20px;
	background-color:#E7B041;
	color:#fff;
	font-size:2em;
	font-family: 'din_alternatebold' !important;
	-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
	}
.camposreserv{
	background-color:#fff;
	-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;
	width:90%;
	color:#222D47;
	}
.forma_to #div{
	margin-bottom:10px;
	}
.btnform2 a{
	padding:16px 40px;
	background-color:#F90;
	color:#fff;
	font-size:2em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
.btnform2 a:hover{
	padding:16px 40px;
	background-color:#F90;
	color:#6B3A0A;
	font-size:2em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}

.btnform2 a:visited{
	padding:16px 40px;
	background-color:#F90;
	color:#fff;
	font-size:2em;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	}
	
	
.name_tnks{
	font-family: 'din_alternatebold' !important;
	font-size:3em;
	text-align:center;
	color:#fff;
	}
.name_tnks2{
	font-family: 'din_alternatebold' !important;
	font-size:2em;
	text-align:center;
	color:#fff;
	}
	
	
.name_oculto{
	font-size:1.5em;
	text-align:center;
	color:#fff;
	}
.name_oculto2{
	font-size:1.1em;
	text-align:center;
	color:#E7B041;
	}